/* Twoje style */
.fas {
  font-family:  'Open Sans' , sans-serif;
}

input:invalid {
  border: 2px dashed;
}

input:invalid {
  border: 2px solid: green;
}
canvas {
  border-style: solid;
  border-color: lightgreen;
  border-width: 7px;
}
